button.nav-link {
    background: #f8f9fa;
    border-radius: 0;
    border: none;

    &:focus {
        outline: none;
    }

    &.active:hover {
        color: white;
    }

    &active {
        outline: none;
    }

    &.active:focus {
        outline: none;
    }
}